body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxtkhRd4EgDFuGgm484v1skRyOM7f-Q5k2LQ&usqp=CAU');
    background-size:100% 100% ;
    background-attachment: fixed;
}